.join-community-container{
    background-image: url("C:\Users\Keerthi Korumilli\Desktop\Dec_Team_04\client\public\planet-background.png");
    background-size: cover;
    padding: 100px;
    color: #ffffff;
    border-radius: 50px;
}
.newsletter-container{
    display: flex;
    flex-wrap: wrap;
}
.input{
    padding: 20px;
}
.join-community-container h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.join-community-container p{
    width: 60%;
    line-height: 1.5;
    font-weight: lighter;
    margin-bottom: 10px;
}
.input{
    border-radius: 20px;
    width: 500px;
    outline: none;
}
.input::placeholder{
    font-size: 14px;
    font-weight: 500;
}
.subscribe-button{
    background-color: #A9C2CB;
    padding: 20px 40px;
    margin: 0 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width:956px){
    .join-community-container{
        padding: 50px;
    }
}
@media(max-width:841px){
    .subscribe-button{
        width: 100%;
        margin:10px 0;
    }
    .join-community-container{
        border-radius: 0;
        background-position: 10%;
    }
    .join-community-container p{
        width: 100%;
    }
    .input{
        width: 100%;
    }
}