.icons-container{  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icons-container img{
    /* width: clamp(30px, 50px , 100px); */
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0 10px;
}